.bubble {
  position: relative;
  z-index: 100;
  bottom: 100px;
  left: 40px;
  width: 250px;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  border-radius: 56px;
  border: #000000 solid 4px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 31px 20px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -31px;
  left: 143px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 34px 23px 0;
  border-color: #000000 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -38px;
  left: 140px;
}

.bubble-text {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
