.typewriter-box {
  position: absolute;
  top: 120px;
  right: 100px;
  padding: 20px;
  border: 3px solid #736c6c;
  border-radius: 20px;
  background-color: rgba(33, 32, 32, 0.8);
  color: #00ff0089;
  width: 350px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.typewriter-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.typewriter {
  font-size: 18px;
  line-height: 1.6;
}
